
body * {
    font-family: 'Montserrat' sans-serif;
}

button {
    background-color: rgb(30, 138, 125);
    color: white;
    border: none;
    margin: 25px auto;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input {
    border: none;
    margin: 25px auto;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.sem-input {
    width: 10%;
}

select {
    border: none;
    margin: 25px auto;
    padding: 10px 10px;
    border-radius: 5px;
    cursor: pointer;
}
